html {
    @include responsive(font-size, $font-size-base - 0.15rem, $font-size-base - 0.1rem, $font-size-base - 0.05rem, $font-size-base);
}

body {
    cursor: default;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// text selection
::selection {
    background: $gray-600;
    color: #FFF;
}

::-moz-selection {
    background: $gray-600;
    color: #FFF;
}

.title {
    text-transform: uppercase;
}

.t-medium {
    font-family: $font-family-robotomedium;
}

.t-regular {
    font-family: $font-family-robotoregular;
}

.t-light {
    font-family: $font-family-robotolight;
}

.t-thin {
    font-family: $font-family-robotothin;
}

.big-title {
    @include responsive(font-size, $h1-font-size, $h1-font-size, 56px, 64px);
    color: $primary;
    margin: .8em 0 .5em;
    @include media-breakpoint-down(md) {
        margin: 0;
        padding: 0 0 1em;
    }
}

.btn {
    transition: .3s background-color ease, .3s color ease;
    &.btn-white {
        border: 1px solid #fff;
        border-radius: 0;
        background: transparent;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $primary;
        }
        &.w-picto {
            //padding-left: 35px;
        }
    }
    &.btn-blue {
        border: 1px solid $primary;
        border-radius: 0;
        background: transparent;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }
}

.has-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#overlay-navigation {
    width: 100% !important;
    height: 100vh !important;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($primary, .9);
    .btn-burger {
        position: absolute;
        top: 38px;
        right: 17px;
        &:before,
        &:after {
            background-color: #fff;
        }
        @include media-breakpoint-down(sm) {
            top: 21px;
        }
    }
}

#contain-menu-items {
    text-align: center;
    a {
        font-family: $font-family-robotolight;
        color: #fff;
        font-size: rem(35);
        margin-bottom: 10px;
        position: relative;
        &:before,
        &:after {
            content: '';
            opacity: 0;
            transition: 0.3s opacity ease;
        }
        &:hover {
            text-decoration: none;
            &:before,
            &:after {
                content: '-';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
            }
            &:before {
                left: -20px;
            }
            &:after {
                right: -20px;
            }
        }
    }
    >div:last-child {
        margin-top: 1em;
        display: block;
        position: relative;
        &:before {
            content: '-';
            position: absolute;
            left: 50%;
            top: -1em;
            transform: translateX(-50%);
            color: #fff;
        }
    }
}