html {
    @include ax_responsive(font-size, $font-size-base - 0.15rem, $font-size-base - 0.1rem, $font-size-base - 0.05rem, $font-size-base);
}

body {
    cursor: default;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// text selection
::selection {
    background: $gray-600;
    color: #FFF;
}

::-moz-selection {
    background: $gray-600;
    color: #FFF;
}

.title {
    text-transform: uppercase;
}

.t-medium {
    font-family: $font-family-robotomedium;
}

.t-regular {
    font-family: $font-family-robotoregular;
}

.t-light {
    font-family: $font-family-robotolight;
}

.t-thin {
    font-family: $font-family-robotothin;
}

.big-title {
    @include ax_responsive(font-size, $h1-font-size, $h1-font-size, 56px, 64px);
    color: $primary;
    margin: .8em 0 .5em;
}

.btn {
    transition: .3s background-color ease, .3s color ease;
    &.btn-white {
        border: 1px solid #fff;
        border-radius: 0;
        background: transparent;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $primary;
        }
        &.w-picto {
            //padding-left: 35px;
        }
    }
    &.btn-blue {
        border: 1px solid $primary;
        border-radius: 0;
        background: transparent;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }
}

.has-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#overlay-navigation {
    width: 100% !important;
    height: 100vh !important;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($primary, .9);
    .btn-burger {
        position: absolute;
        top: 38px;
        right: 17px;
        &:before,
        &:after {
            background-color: #fff;
        }
    }
}