#header-homepage {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .brand {
        svg {
            width: 189px;
            height: 34px;
            transition: 0.3s transform ease;
        }
        &:hover {
            svg {
                transform: translateX(3px);
            }
        }
    }
    >div:nth-child(2) {
        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    [class*="icon-"] {
        font-family: $font-family-icomoon;
        color: #fff;
        font-size: $font-size-xlg;
        padding: 0 15px;
    }
    .icon-warning2 {
        &:before {
            content: "\ed4d";
        }
    }
    .icon-search {
        &:before {
            content: "\eb33";
        }
    }
    .icon-volume-medium {
        &:before {
            content: "\ed8d";
        }
    }
    .language-selector {
        padding: 0 25px 0 15px;
        .dropdown-toggle {
            color: #fff;
            font-size: $font-size-lg;
            &:after {
                border-top: 0.2em solid;
                border-right: 0.2em solid transparent;
                border-left: 0.2em solid transparent;
                border-bottom: 0;
            }
        }
    }
    .connection-btn {
        a:hover {
            text-decoration: none;
            span {
                background-color: darken($secondary, 10%);
            }
        }
        span {
            height: 96px;
            line-height: 96px;
            width: 205px;
            text-align: center;
            background-color: $secondary;
            color: #fff;
            transition: 0.3s background-color ease;
        }
    }
    .menu-burger {
        background-color: #fff;
        width: 60px;
        position: relative;
    }
}

.btn-burger  {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
}
.btn-burger:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 3px;
    top: 0;
    transition: .2s all;
}
.btn-burger:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 3px;
    bottom: 0;
    transition: .2s all;
}
.btn-burger i {
    opacity: 1;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 3px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: .2S all;
}
.btn-burger:hover i {
    width: 90%;
    transition: .2S all;
}
.burgeractive i {
    opacity: 0 !important;
    width: 0% !important;
}
.burgeractive:before {
    top: 50% !important;
    transform: rotate(45deg);
    border-radius: 4px;
    transition: .2s all;
}
.burgeractive:after {
    top: 50% !important;
    transform: rotate(-45deg);
    border-radius: 4px;
    transition: .2s all;
}


#header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 96px;
    transform: translateY(-100%);
    transition: none;
}

#header.loaded {
    transition: 1s transform ease;
}

body:not(.viewing-page-1) {
    #header {
        transform: translateY(0);
        margin-top: 0;
    }
}

//TEST

/* * {
    font-family: $font-family-fertigo;
    font-size: 1.2em;
} */