#header-homepage {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .brand {
        svg {
            width: 250px;
            height: 48px;
        }
    }
    [class*="icon-"] {
        font-family: $font-family-icomoon;
        color: #fff;
        //font-size: 22px;
    }
    .icon-warning2 {
        &:before {
            content: "\ed4d";
        }
    }
    .icon-search {
        &:before {
            content: "\eb33";
        }
    }
    .icon-volume-medium {
        &:before {
            content: "\ed8d";
        }
    }
    .connection-btn {
        a:hover {
            text-decoration: none;
        }
        span {
            height: 128px;
            line-height: 128px;
            width: 270px;
            text-align: center;
            background-color: $secondary;
            color: #fff;
        }
    }
    .menu-burger {

    }
}

//TEST

/* * {
    font-family: $font-family-fertigo;
    font-size: 1.2em;
} */