section#fifth-page {
    background: $primary url(../img/pro.jpg) no-repeat right;
    background-size: contain;
    @include media-breakpoint-down(sm) {
        background-image: linear-gradient(darken(rgba($primary, .65), 20%), rgba($primary, .65)), url(../img/pro.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 4em $grid-gutter-width/2;
        height: auto;
    }
    #background-pro {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 45vw;
        background-color: $primary;
        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                right: calc(-90vw/4);
                top: 0;
                bottom: 0;
                border-style: solid;
                border-width: 100vh calc(90vw/4) 0 0;
                border-color: $primary transparent transparent transparent;
            }
        }
    }
    #pro-content {
        position: absolute;
        top: 0 + $head-height;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        >div {
            width: 50vw;
            padding-left: 3em;
            span,
            p {
                display: block;
                color: #fff;
            }
        }
        .title {
            @include responsive(font-size, $h1-font-size, $h1-font-size, rem(56), rem(64));
        }
        .baseline {
            @include responsive(font-size, $font-size-xlg, $font-size-xlg, rem(36), rem(38));
            font-family: $font-family-robotomedium;
            margin-bottom: 10px;
        }
        p {
            font-family: $font-family-robotolight;
            margin-bottom: 3em;
            @include responsive(font-size, $font-size-base, $font-size-base, rem(19), rem(21));
            line-height: $line-height-lg;
        }
        @include media-breakpoint-down(sm) {
            position: static;
            >div {
                width: auto;
                padding-left: 0;
            }
            .baseline {
                line-height: $line-height-medium;
            }
            p {
                line-height: $line-height-base;
            }
        }
    }
}