section#first-page {
    @include media-breakpoint-down(sm) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0, 0, 0, .25) 45%, $primary), url(../img/Section1-image1.jpg);
    }
    >[class*="bg-"] {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(rgba(0, 0, 0, .25) 45%, $primary);
        }
    }
    #first-page-intro {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 5em 8.5em;
        text-align: center;
        >h1,
        h2 {
            color: #fff;
        }
        h1 {
            @include responsive(font-size, rem(35), rem(35), rem(43), rem(48));
            line-height: $line-height-sm;
        }
        h2 {
            font-family: $font-family-robotolight;
            font-size: rem(36);
            padding: 7px 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: -170px;
            left: 50%;
            transform: translateX(-50%);
            width: 157px;
            height: 111px;
            background: url(../img/svg/myhealth-w.svg) no-repeat center;
            background-size: contain;
        }
        @include media-breakpoint-up(md) {
            .scroll-down-icon {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                padding-bottom: 5em;
                #animated-path {
                    animation: uppath 1s infinite alternate;
                }
                @keyframes uppath {
                    100% {
                        transform: translateY(10px);
                        opacity: .2;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 0 10px 7.5em;
            .title,
            h2 {
                line-height: $line-height-lg;
            }
            h2 {
                font-size: rem(22);
            }
            .scroll-down-icon {
                display: none;
            }
            &:before {
                top: -140px;
            }
        }
    }
    .help {
        position: absolute;
        bottom: 17px;
        right: 20px;
        background-color: rgba(#fff, .2);
        padding: 5px 20px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        transition: 0.3s bottom ease;
        span {
            color: #fff;
        }
        .icon-talk {
            padding: 0;
            padding-right: 10px;
            &:before {
                content: "\eac5";
            }
        }
        @include media-breakpoint-up(md) {
            &:hover {
                text-decoration: none;
                bottom: 22px;
            }
        }
    }
}