section.first-page {
    background-color: #000;
    > [class*="bg-"] {
        opacity: 0;
        transition: 0.8s opacity ease;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(rgba(0, 0, 0, .25) 45%, $primary);
        }
    }
    &.bg-1 {
        > .bg-one {
            opacity: 1;
        }
    }
    &.bg-2 {
        > .bg-two {
            opacity: 1;
        }
    }
    &.bg-3 {
        > .bg-three {
            opacity: 1;
        }
    }
    //
    #first-page-intro {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 5em 8.5em;
        text-align: center;
        >h1,
        p {
            color: #fff;
        }
        h1 {
            font-size: rem(48);
            line-height: $line-height-sm;
        }
        p {
            font-family: $font-family-robotolight;
            font-size: rem(36);
        }
        &:before {
            content: '';
            position: absolute;
            top: -170px;
            left: 50%;
            transform: translateX(-50%);
            width: 157px;
            height: 111px;
            background: url(../img/svg/myhealth-w.svg) no-repeat center;
            background-size: contain;
        }
        .scroll-down-icon {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            padding-bottom: 5em;
            #animated-path {
                animation: uppath 1s infinite alternate;
            }
            @keyframes uppath {
                100% {
                    transform: translateY(10px);
                    opacity: .2;
                }
            }
        }
    }
}