section#fourth-page {
    @include media-breakpoint-down(sm) {
        max-height: 600px;
    }
    >[class*="bg-"] {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .2);
        }
    }
    #prevention-wrapper {
        position: absolute;
        top: $head-height;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 3em;
        >div:nth-child(1) {
            width: 45vw;
            * {
                color: #fff;
            }
            .title {
                @include responsive(font-size, rem(32), rem(32), rem(53), rem(56));
                line-height: $line-height-lg;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                margin-bottom: 10px;
                display: block;
            }
            p {
                @include responsive(font-size, rem(24), rem(24), rem(36), rem(40));
                font-family: $font-family-robotolight;
                line-height: $line-height-lg;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            }
        }
        @include media-breakpoint-down(sm) {
            top: 0;
            padding: 4em $grid-gutter-width/2;
            >div:nth-child(1) {
                width: auto;
                position: relative;
            }
            .slick-dots {
                margin-top: 20px;
                li.slick-active button {
                    background: $primary;
                    box-shadow: 0 0 0 1px $primary;
                }
            }
        }
    }
    .changing-content p {
        max-height: 0;
        opacity: 0;
        transition: .5s max-height ease, .7s opacity ease;
    }
    [class*="hover-element"] {
        position: relative;
        padding: 1em 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(#fff, 0.75);
        transition-property: background-color;
        transition-duration: .3s;
        transition-timing-function: ease;
        text-align: center;
        line-height: $line-height-lg;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0 0 52px 27px;
            border-color: transparent transparent $primary transparent;
            transition: 0.3s ease border-color;
        }
        .title {
            font-size: $font-size-xlg;
            color: $primary;
            transition: .3s color ease;
        }
        .btn {
            margin-top: 12px;
        }
    }
    &.bg-1 .hover-element-one,
    &.bg-2 .hover-element-two,
    &.bg-3 .hover-element-three {
        background-color: rgba($primary, 0.75);
        &:after {
            border-color: transparent transparent #fff transparent;
        }
        .title {
            color: #fff;
        }
    }
    &.bg-1 {
        .changing-content {
            p:nth-child(1) {
                max-height: 200px;
                opacity: 1;
            }
        }
    }
    &.bg-2 {
        .changing-content {
            p:nth-child(2) {
                max-height: 200px;
                opacity: 1;
            }
        }
    }
    &.bg-3 {
        .changing-content {
            p:nth-child(3) {
                max-height: 200px;
                opacity: 1;
            }
        }
    }
}