section#second-page {
    #panel-wrapper {
        height: 100vh;
        >.panel {
            display: flex;
            align-items: flex-end;
            width: 20%;
            transition: 0.7s width ease;
            &:nth-child(1) {
                background-image: url(../img/service-RDV.jpg);
            }
            &:nth-child(2) {
                background-image: url(../img/service-annuaire.jpg);
            }
            &:nth-child(3) {
                background-image: url(../img/service-preadmission.jpg);
            }
            &:nth-child(4) {
                background-image: url(../img/service-paiement.jpg);
            }
            &:nth-child(5) {
                background-image: url(../img/service-tele.jpg);
            }
            .panel-content {
                position: relative;
                z-index: 3;
                padding-bottom: 7em;
                * {
                    color: #fff;
                }
            }
            .panel-title {
                line-height: $line-height-lg;
                margin-bottom: 2em;
                position: relative;
                .title {
                    @include ax_responsive(font-size, $font-size-base, $font-size-base, $font-size-lg, $font-size-xlg);
                    margin: 0;
                }
                span {
                    font-size: $font-size-lg;
                    font-family: $font-family-robotolight;
                }
            }
            .panel-content-added {
                form {
                    padding-top: 1em;
                    text-align: center;
                    input[type="text"] {
                        width: 100%;
                        border: none;
                        padding: 10px;
                        font-family: $font-family-robotolight;
                        color: $gray-600;
                        margin-bottom: 1em;
                    }
                    /* .w-picto {
                        position: relative;
                        &:before {
                            content: "\eb33";
                            font-family: $font-family-icomoon;
                            speak: none;
                            position: absolute;
                            left: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    } */
                }
            }
            &.panel-hovered {
                width: 40%;
                position: relative;
                //cursor: pointer;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    transition: width 0.4s ease;
                    background-color: rgba($primary, .65);
                    z-index: 2;
                }
                .panel-title {
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        width: 30px;
                        height: 2px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}