section#sixth-page {
    background-color: $gray-bg;
    background-image: url(../img/barres.png);
    #networks-wrapper {
        article {
            position: relative;
            background-color: #fff;
            box-shadow: 0px 5px 30px 2px rgba(0, 0, 0, 0.15);
            .stretched-link {
                text-decoration: none;
                &:after {
                    z-index: 3;
                }
            }
            .img {
                height: 352px;
                background-color: $gray-400;
            }
            .post-title {
                padding: 1.5em 2em 3em;
                text-align: left;
                h3 {
                    font-family: $font-family-robotolight;
                    font-size: $font-size-lg;
                }
            }
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: 0;
                z-index: 1;
                width: 0;
                border-style: solid;
                border-width: 140px 73px 0 0;
                border-color: #007bff transparent transparent transparent;
                transition: 0.4s border-width ease;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 13px;
                left: 13px;
                background-size: contain;
            }
            &:hover {
                &:before {
                    border-width: 150px 170px 0 0;
                }
            }
            @include media-breakpoint-down(md) {
                .img {
                    height: 240px;
                }
                .post-title {
                    padding-bottom: 2em;
                }
            }
        }
        .row {
            .post-one {
                margin-top: 1em;
                .img {
                    background-image: url(../img/followus-1.jpg);
                }
            }
            .post-two {
                margin-top: 2em;
                .img {
                    background-image: url(../img/followus-2.jpg);
                }
            }
            .post-three {
                .img {
                    background-image: url(../img/followus-3.jpg);
                }
            }
            .post-one,
            .post-three {
                article {
                    &:before {
                        border-color: $facebook transparent transparent transparent;
                    }
                    &:after {
                        width: 17px;
                        height: 33px;
                        background: url(../img/svg/facebook.svg) no-repeat center;
                    }
                }
                .post-title {
                    h3 {
                        color: $facebook;
                    }
                }
            }
            .post-two {
                article {
                    &:before {
                        border-color: $twitter transparent transparent transparent;
                    }
                    &:after {
                        width: 30px;
                        height: 25px;
                        background: url(../img/svg/twitter.svg) no-repeat center;
                    }
                }
                .post-title {
                    h3 {
                        color: $twitter;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        height: auto;
        #followus-wrapper {
            padding-bottom: 3em;
            .slick-dots {
                margin-top: 20px;
                li button {
                    background: transparent;
                    box-shadow: 0 0 0 1px $gray-500;
                }
                li.slick-active button {
                    background: $primary;
                    box-shadow: 0 0 0 1px $primary;
                }
            }
        }
        .slick-track {
            margin-bottom: 2em;
        }
    }
}