section#third-page {
    background-color: $gray-bg;
    #slider-wrapper {
        margin-bottom: 3em;
        [class*="col-"] {
            padding-top: 1em;
            padding-bottom: 1em;
            @include media-breakpoint-up(md) {
                &:nth-child(even) {
                    margin-top: 2em;
                }
            }
        }
        .icon-arrow-left,
        .icon-arrow-right {
            font-family: $font-family-icomoon;
            color: $primary;
            font-size: $font-size-xlg;
            background: #fff;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            line-height: 47px;
        }
        .icon-arrow-left {
            &:before {
                content: "\edc1";
            }
        }
        .icon-arrow-right {
            &:before {
                content: "\edb9";
            }
        }
        .actu {
            height: 480px;
            text-align: left;
            padding: 2em;
            box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.25);
            position: relative;
            h3 {
                font-size: $h3-font-size;
                text-decoration: none;
            }
            .stretched-link {
                text-decoration: none;
                &:after {
                    z-index: 3;
                }
            }
            .ribbon {
                text-transform: uppercase;
                font-size: $font-size-xsm;
                padding: 3px 7px;
            }
            * {
                color: #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                border-style: solid;
                border-width: 0 0 182px 95px;
                border-color: transparent transparent #007bff transparent;
                transition: 0.4s border-width ease;
            }
            .icon-arrow {
                font-family: $font-family-icomoon;
                position: absolute;
                z-index: 2;
                font-size: 2rem;
                right: 7px;
                bottom: 7px;
                &:before {
                    content: "\EDDB";
                }
            }
            &.first-actu {
                background-image: url(../img/ACTUS-1.jpg);
            }
            &.second-actu {
                background-image: url(../img/ACTUS-2.jpg);
            }
            &.blue-actu {
                .ribbon {
                    background-color: $primary;
                }
                &:after {
                    border-color: transparent transparent $primary transparent;
                }
            }
            &.red-actu {
                .ribbon {
                    background-color: $secondary;
                }
                &:after {
                    border-color: transparent transparent $secondary transparent;
                }
            }
            &:hover {
                &:after {
                    border-width: 0 0 202px 185px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        #actu-wrapper {
            padding-bottom: 4em;
        }
        #slider-wrapper {
            .actu {
                height: 325px;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-image: linear-gradient(rgba(#000, .6), transparent 55%);
                    z-index: 2;
                }
                .ribbon,
                h3 {
                    position: relative;
                    z-index: 3;
                }
            }
            .slick-dots {
                margin-bottom: 25px;
                margin-top: 10px;
                li button {
                    background: transparent;
                    box-shadow: 0 0 0 1px $gray-500;
                }
                li.slick-active button {
                    background: $primary;
                    box-shadow: 0 0 0 1px $primary;
                }
            }
        }
    }
}